@import url('https://fonts.googleapis.com/css?family=Poppins:300&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

.header-top {
  padding: 10px 0px 10px 0px;
  font-size: 10px;
  color: gray;
}

.header-bottom {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.logo {
  width: 80%;
}

i {
  font-size: 12px;
  color: skyblue;
}

i.menu {
  font-size: 26px;

}


li.active,a:hover {
  border-bottom: 2px solid deepskyblue;
  color: white;
}

.image {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/banner/banner_2.png");
  background-size: cover;
  background-repeat: no-repeat;
  /* height: 400px; */
}

.white {
  color: white;
  font-size: 12px;
}

.jumbotron-background {
  background: transparent;

}

.jumbotron-title {
  color: white;
  padding: 90px 580px 20px 200px;
  padding-bottom: 125px;
}

.button{
  border-radius: 20px;
  font-size: 12px;
  padding: 10px 25px 10px 25px;
}

.services-title {
  padding: 50px 0px 30px 0px;
}

.row-2 {
  padding-top: 20px;
}

.service-grid {
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 90%;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
  padding: 20px;
}

.about-content {
  margin-top: 70px;
}

.about-image {
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 10px;
}

.case-image {
  background: linear-gradient(rgba(23,45,68, 0.7), rgba(23,45,68, 0.7)), url("img/about/counter.png");
  background-size: cover;
  background-repeat: no-repeat;
  /* padding: 78px; */
}

.case-content {
  color: white;
  padding: 150px 0px 50px 0px;
  font-size: 12px;
}

.case-title {
  padding-top: 80px;
  padding-bottom: 40px;
  text-align: center;
}

.case-card {
  width: 18rem;
  font-size: 12px;
  display: block;
  z-index: 1;
  width: 100%;
}

.case-study {
  padding-bottom: 30px;
}

.more-cases {
  padding: 40px 0px 40px 0px;

}

.case-button {
  background: transparent;
  border: 1px solid rgba(135, 206, 235, 0.5);
  color: skyblue;
  border-radius: 20px;
  font-size: 12px;
  padding: 10px 25px 10px 25px;
}

.testimonial {
  background: linear-gradient(rgba(23,45,68, 0.7), rgba(23,45,68, 0.7)), url("img/banner/testmonial.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.quote {
  color: white;
  font-weight: bolder;
  text-align: center;
  padding-top: 40px;
}

.quote-text {
  color: white;
  font-size: 12px;
  text-align: center;
}

.testimonial-image {
  width: 30px;
  padding-bottom: 10px;
}

.testimonial-info {
  color: white;
  font-size: 10px;
  font-weight: bold;
  padding-bottom: 40px;
}

.test-small {
  font-size: 8px;
  font-weight: normal;
}

.form {
  padding-top: 100px;
  padding-bottom: 100px;
}

.form-head {
  padding-bottom: 20px;
  margin-top: 20px;
}

.form-image {
  width: 120%;
}

.form-message {
  padding-top: 40px;
}

.form-line {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 10px;
}

.container-width {
  width: 60%;
}

.info {
  background: linear-gradient(rgba(23,45,68, 0.7), rgba(23,45,68, 0.7)), url("img/banner/info_banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  padding: 100px 0px 90px 0px;
}

.info-content {
  font-size: 10px;
}

.contact {
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer-logo {
  width: 30%;
}

.contact-container-width {
  width: 70%;
  padding-bottom: 30px;
}

.footer-text {
  padding-top: 20px;
  font-size: 8px;
  color: gray;
}

.contact-icons{
  font-size: 20px;
  padding-top: 20px;
}

.facebook-icon {

}

.form-size {
  font-size: 8px;
}

.button-subscribe {
  border-radius: 20px;
  font-size: 10px;
  padding: 5px 10px 5px 10px;
}

.footer {
  padding-bottom: 10px;
  color: gray;
  font-size: 8px;
}

.footer-container-width {
  width: 50%;
  padding-top: 30px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.footer-border {
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5px;
}

.rowspan {
  padding: 0px;
}
