@import url('https://fonts.googleapis.com/css?family=Poppins:300&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

.header-top {
  padding: 10px 0px 10px 0px;
  font-size: 10px;
  color: gray;
}

.header-bottom {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.logo {
  width: 80%;
}

i {
  font-size: 12px;
  color: skyblue;
}

i.menu {
  font-size: 26px;

}


li.active,a:hover {
  border-bottom: 2px solid deepskyblue;
  color: white;
}

.image {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/banner/banner_2.png");
  background-size: 100%;
  background-repeat: no-repeat;
  /* height: 400px; */
}

.white {
  color: white;
  font-size: 12px;
}

.jumbotron-background {
  background: transparent;

}

.jumbotron-title {
  color: white;
  padding: 90px 580px 20px 200px;
  padding-bottom: 125px;
}

.button{
  border-radius: 20px;
  font-size: 12px;
  padding: 10px 25px 10px 25px;
}

.services-title {
  padding: 50px 0px 30px 0px;
}

.row-2 {
  padding-top: 20px;
}

.service-grid {
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 90%;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
  padding: 20px;
}

.about-content {
  margin-top: 70px;
}

.about-image {
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
}
